<%- include('partials/header'); %>
<%- include('partials/navbar'); %>

<!--
<div class="container mb-1">
<%= JSON.stringify(locals.data) %>
</div>
-->

<div class="container">
  <!-- Breadcrumb -->
  <%- include('partials/breadcrumb'); %>
</div>

<div class="container">
  <!-- Control box start -->
  <div id="upload-box" class="darkened-form-box mb-2">
    <label>Upload to this Bucket:</label>
    
    <div class="input-group input-group-sm">
      <!-- Select file button -->
      <div class="input-group-btn">
        <label class="btn btn-default btn-file">Browse...
          <input class="hidden" name="fileUpload" data-field="selectFileButton" type="file">
        </label>
      </div>
      <!-- File name text field -->
      <input class="form-control" disabled="disabled" type="text" data-field="selectedFileText">
      <!-- Upload file button -->
      <div class="input-group-btn">
        <button type="button" class="btn btn-primary" data-field="uploadFileButton">
          <i class="fa fa-send" aria-hidden="true"></i>
          Upload File
        </button>
      </div>
    </div>

    <!-- Help text -->
    <div class="mt-1 uhidden">
      <span data-field="helpText"></span>
    </div>
  </div>
  <!-- Control box end -->

  <script>
    // Set listener to upload box
    var $selectFileButton = $('#upload-box input[data-field="selectFileButton"]');
    var $uploadFileButton = $('#upload-box button[data-field="uploadFileButton"]');
    var $selectedFileText = $('#upload-box input[data-field="selectedFileText"]');
    var $helpText = $('#upload-box span[data-field="helpText"]');

    $selectFileButton.change(function () {
      // Display file name
      var fileName = $selectFileButton[0].files[0].name;
      $selectedFileText.val(fileName);

      // Parse safe file name (replacing space, etc.)
      var parsedFileName = fileName.replace(/ /g, '_');
      parsedFileName = parsedFileName.replace(/[^\w .-]/g, '');
      parsedFileName = parsedFileName.replace(/_+/g, '_');

      // Display file name
      $helpText.html('Will be saved as <code>' + parsedFileName + '</code>.');
    });

    $uploadFileButton.click(function () {
      var fileName = $('#upload-box span[data-field="helpText"] code').text();
      var fileObject = $selectFileButton[0].files[0];
      var bucketName = '<%= locals.bucketName %>';

      var formData = new FormData();

      formData.append('object', fileObject, fileName);
      formData.append('bucket', bucketName);
      formData.append('name', fileName);

      $.ajax({
        url: '/create-object',
        type: 'POST',
        //contentType: "application/json",
        data: formData,
        contentType: false,
        processData: false,
        success: function(data, status, jqXHR) {
          location.reload();
        },
        error: function(jqXHR, status, error) {
          console.log(jqXHR, status, error);
          alert('[ERROR] ' + jqXHR.responseText);
        }
      });
    });

    // Set listener to upload box upload button
  </script>

  <h4><b><%= locals.bucketName %></b></h4>
  <table class="table table-hover list-table">
    <!-- Table body start -->
    <tbody>
      <% var filesize = locals.libraries.filesize; %>
      <% var moment = locals.libraries.moment; %>
      <% var objects = locals.data.Contents; %>
      <% for (var i = 0; i < objects.length; i++) { %>
        <% var object = objects[i]; %>
        <% var downloadLink = locals.bucketName + '/' + object.Key %>
        <% var callbackData = {
          objectName: object.Key,
          bucketName: locals.bucketName,
          fileSize: filesize(object.Size)
        }; %>
        <tr>
          <!-- Bucket name and Information-->
          <td class="col-xs-7" style="word-break: break-all;">
            <i class="fa fa-file" aria-hidden="true"></i>
            <%= object.Key %><br>
            <span class="help-text">
              <%= filesize(object.Size) %> &middot;
              Modified <%= moment(object.LastModified).format('DD/MM/YYYY HH:mm'); %>
            </span>
          </td>

          <!-- Bucket operation -->
          <td class="col-xs-3 text-align-right">
            <!-- Download button -->
            <a href="<%= downloadLink %>" class="btn btn-primary btn-sm">
              <i class="fa fa-arrow-down" aria-hidden="true"></i>
              Download 
            </a>
            <!-- Delete button -->
            <a href="#" class="btn btn-danger btn-sm" onclick="deleteObjectClickHandler('<%= JSON.stringify(callbackData) %>')">
              <i class="fa fa-remove" aria-hidden="true"></i>
              Delete
            </a>
            <!-- Download button -->
            <a href="#" class="btn btn-default btn-sm" onclick="copyObjectClickHandler('<%= JSON.stringify(callbackData) %>')">
              <i class="fa fa-copy" aria-hidden="true"></i>
              Copy
            </a>
          </td>
        </tr>
      <% } %>
    </tbody>
    <!-- Table body end -->
  </table>

  <span class="color-gray">Showing total of <%= objects.length %> object(s).</span>
</div>

<!-- Delete Object Modal -->
<div class="modal fade" id="delete-object-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal header start -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Object</h4>
      </div>

      <!-- Modal body start -->
      <div class="modal-body">
        <div class="alert alert-danger hidden" role="alert"><b>Whoops!</b><br>Unspecified Error</div>
        <p>Are you sure you want to delete the following object?</p>
        <p>
          <b>Object Name:</b><br>
          <span data-field="objectName">Object name</span>
        </p>
        <p>
          <b>In Bucket:</b><br>
          <span data-field="bucketName">Bucket name</span>
        </p>
        <p>
          <b>File Size:</b><br>
          <span data-field="fileSize">File Size</span>
        </p>
      </div>
      <!-- Modal body end -->

      <!-- Modal footer start -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-field="deleteButton">Delete Object</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <!-- Modal footer end -->
    </div>
  </div>
</div>

<!-- Copy Object Modal -->
<div class="modal fade" id="copy-object-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Modal header start -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Copy Object</h4>
      </div>

      <!-- Modal body start -->
      <div class="modal-body">
        <div class="alert alert-danger hidden" role="alert"><b>Whoops!</b><br>Unspecified Error</div>
        <p>Are you sure you want to delete the following object?</p>
        <p>
          <b>Object Name:</b><br>
          <span data-field="objectName">Object name</span>
        </p>
        <p>
          <b>In Bucket:</b><br>
          <span data-field="bucketName">Bucket name</span>
        </p>
        <hr>
        <p>
          <b>Target Bucket:</b><br>
          <select class="form-control" data-field="targetBucketDropdown">
          </select>
        </p>
        <p>
          <b>Save Object As:</b><br>
          <input type="text" class="form-control" data-field="saveObjectAsText">
        </p>

      </div>
      <!-- Modal body end -->

      <!-- Modal footer start -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-field="copyButton">Copy Object</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
      <!-- Modal footer end -->
    </div>
  </div>
</div>

<script>
  var deleteObjectClickHandler = function(callbackData) {
    var callbackDataJson = JSON.parse(callbackData);

    // Set modal fields and dismiss alert
    $('#delete-object-modal .alert').addClass('hidden');
    $('#delete-object-modal span[data-field="objectName"]').html(callbackDataJson.objectName);
    $('#delete-object-modal span[data-field="bucketName"]').html(callbackDataJson.bucketName);

    // Set modal delete button handler
    $('#delete-object-modal button[data-field="deleteButton"]').off("click");
    $('#delete-object-modal button[data-field="deleteButton"]').click(function () {
      var dataToSend = {
        bucket: callbackDataJson.bucketName,
        object: callbackDataJson.objectName
      };

      $.ajax({
        url: '/delete-object',
        type: 'POST',
        contentType: "application/json",
        data: JSON.stringify(dataToSend),
        timeout: 5000,
        success: function(data, status, jqXHR) {
          location.reload();
        },
        error: function(jqXHR, status, error) {
          console.log(jqXHR, status, error);
          $('#delete-object-modal .alert').removeClass('hidden');
          $('#delete-object-modal .alert').html('<b>Whoops!</b><br>'
            + jqXHR.status + ' ' + error + '<br>'
            + jqXHR.responseJSON.message
          );
        }
      });
    });

    // Display modal
    $('#delete-object-modal').modal('show');
  }

  var copyObjectClickHandler = function(callbackData) {
    var callbackDataJson = JSON.parse(callbackData);

    // Set modal fields and dismiss alert
    $('#copy-object-modal .alert').addClass('hidden');
    $('#copy-object-modal span[data-field="objectName"]').html(callbackDataJson.objectName);
    $('#copy-object-modal span[data-field="bucketName"]').html(callbackDataJson.bucketName);
    $('#copy-object-modal input[data-field="saveObjectAsText"]').val(callbackDataJson.objectName);

    // Set modal delete button handler
    $('#copy-object-modal button[data-field="copyButton"]').off("click");
    $('#copy-object-modal button[data-field="copyButton"]').click(function () {
      var dataToSend = {
        source_bucket: callbackDataJson.bucketName,
        source_object: callbackDataJson.objectName,
        destination_bucket: $('#copy-object-modal select[data-field="targetBucketDropdown"]').val(),
        destination_object: $('#copy-object-modal input[data-field="saveObjectAsText"]').val()
      };

      $.ajax({
        url: '/copy-object',
        type: 'POST',
        contentType: "application/json",
        data: JSON.stringify(dataToSend),
        timeout: 5000,
        success: function(data, status, jqXHR) {
          $('#copy-object-modal .alert').removeClass('hidden');
          $('#copy-object-modal .alert').removeClass('alert-danger');
          $('#copy-object-modal .alert').addClass('alert-success');
          $('#copy-object-modal .alert').html('<b>Success!</b><br>'
            + 'Created "' + dataToSend.destination_object_name + '" in "' + dataToSend.destination_bucket + '".<br>'
            + 'Refresh to see changes.'
          );
        },
        error: function(jqXHR, status, error) {
          $('#copy-object-modal .alert').removeClass('hidden');
          $('#copy-object-modal .alert').removeClass('alert-success');
          $('#copy-object-modal .alert').addClass('alert-danger');
          $('#copy-object-modal .alert').html('<b>Whoops!</b><br>'
            + jqXHR.status + ' ' + error + '<br>'
            + jqXHR.responseJSON.message
          );
        }
      });
    });

    // Display modal
    $('#copy-object-modal').modal('show');
  }

  // Once only, populate copy target buckets
  $.ajax({
    url: '/list-buckets',
    type: 'GET',
    contentType: "application/json",
    success: function(data, status, jqXHR) {
      console.log(data);
      var $bucketSelector = $('#copy-object-modal select[data-field="targetBucketDropdown"]');
      var buckets = data.Buckets;
      for (var i = 0; i < buckets.length; i++) {
        var bucketName = buckets[i].Name;
        $bucketSelector.append($('<option>', {value: bucketName, text: bucketName}));
      }
      $bucketSelector.val('<%= locals.bucketName %>');
    },
    error: function(jqXHR, status, error) {
    }
  });

</script>

<%- include('partials/footer'); %>
